body {
  font-family: $OpenSansRegular;
  background-color: var(--color-white);
  color: var(--color-dark-500);
  font-size: 16px;
  line-height: 1.2;

  transition: 200ms ease-in;

  &.no-scroll {
    overflow: hidden;
  }

  &.overlay {
    transform: scale(1.05, 1.025);
  }
}

// ! Для прибития футера к низу

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

// 
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-title {
  font-family: $RudaSemibold;
  text-align: center;
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: var(--color-dark-900);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @include breakpointsMaxW($bp-420) {
    font-size: 24px;
  }
}

.logo {
  width: 200px;
  height: 60px;
  flex-shrink: 0;

  svg {
    width: 100%;
    height: 100%;
    fill: var(--color-white);
  }
}

.button {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  padding: 12px 24px;
  color: var(--color-white);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  transition: background-color 150ms ease-in;

  &--transparent {
    color: var(--color-green-900);
    background-color: var(--color-white);
    border: 1px solid var(--color-green-900);
    text-transform: capitalize;

    &:focus {
      box-shadow: var(--box-focus);
    }

    &:hover {
      background-color: var(--color-green-100);
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: transparent;
    }
  }

  &--green {
    background-color: var(--color-green-900);

    &:focus {
      box-shadow: var(--box-focus);
    }

    &:hover {
      background-color: var(--color-green-dark);
    }

    &:active {
      background-color: #63A60E;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &--black {
    background-color: var(--color-dark-800);

    &:focus {
      box-shadow: var(--box-focus-dark-btn);
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      background-color: #31352B;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 6px;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
  }

  &--green {
    color: var(--color-green-900);

    &::after {
      background-color: var(--color-green-900);
    }
  }

  &--dark {
    color: var(--color-dark-500);

    &::after {
      background-color: var(--color-dark-500);
    }
  }
}

.main-title {
  font-family: $RudaBlack;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1.3;
  color: var(--color-dark-500);

  span {
    color: var(--color-red-900);
  }

  @include breakpointsMaxW($bp-768) {
    font-size: 40px;
  }

  @include breakpointsMaxW($bp-420) {
    font-size: 20px;
  }
}

// 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(5px);
  z-index: var(--z-9);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.carousel__button {
  width: 60px;
  height: 60px;

  svg {
    width: 100%;
    height: 100%;

  }
}