<div class="section hero">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellat odit, saepe eveniet, doloremque
    vitae, accusantium velit eum consequatur sed libero! Quisquam facere, sapiente excepturi sunt
    optio eos illum voluptatibus? Explicabo rem consequuntur et exercitationem, nam nemo dicta earum repellat deleniti
    debitis est ab assumenda! Qui hic facere veniam. Temporibus iusto consequuntur quia accusamus voluptates, reiciendis
    possimus molestiae assumenda rerum consectetur necessitatibus quis suscipit quisquam perferendis earum at laboriosam
    cupiditate ipsa explicabo distinctio vitae repellat pariatur optio? Reprehenderit dolorum repellat sed.</p>
</div>

<svg>
  <use xlink:href="images/sprite.svg#hamburger"></use>
</svg>