.catalog {
  padding: var(--gap-48) 0;

  &__title {
    text-align: left;
    margin-bottom: var(--gap-48);
    text-transform: none;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;

    @include breakpointsMaxW($bp-576) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 300px) 1fr;
    gap: var(--gap-30);

    @include breakpointsMaxW($bp-1290) {
      grid-template-columns: minmax(auto, 260px) 1fr;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-30);

    &--list {
      grid-template-columns: repeat(2, 1fr);

      @include breakpointsMaxW($bp-768) {
        grid-template-columns: 1fr !important;
      }
    }

    @include breakpointsMaxW($bp-1290) {
      gap: 15px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, 1fr);
    }

    &--list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__sidebar {
    max-width: 300px;

    @include breakpointsMaxW($bp-991) {
      position: absolute;
      z-index: 100;
      max-width: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      top: 0;
      height: 100%;
      left: -100%;

      transition: 500ms ease-in;

      &.active {
        visibility: visible;
        opacity: 1;
        left: 0;
      }
    }
  }

  &__bottom {
    padding-top: var(--gap-48);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
    }
  }

  &__button {
    text-transform: none;

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 24px;
    }
  }

  &__item {

    // Сделать по центру
    @include breakpointsMaxW($bp-768) {
      // display: grid;
   
    }
  }
}