.check {
  position: relative;
  cursor: pointer;
  padding-left: 36px;
  // display: flex;align-items: center;

  &__input {
    position: absolute;
    appearance: none;
  }

  &__box {
    margin-left: -36px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/icons/checkbox-off.svg');
  }

  &__input:checked+&__box {
    background-image: url('../images/icons/checkbox-on.svg');
  }

  // &__input:focus+&__box {
  //   background-image: url('../images/icons/checkbox-off-focused.svg');
  // }

  // &__input:checked:focus+&__box {
  //   background-image: url('../images/icons/checkbox-on.svg');
  // }

  &__input:hover+&__box {
    background-image: url('../images/icons/checkbox-off-focused.svg');
  }

  &__input:checked:hover+&__box {
    background-image: url('../images/icons/checkbox-on.svg');
  }
}