.footer {
  background-color: var(--color-dark-800);
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.4;

  &__top {
    padding: 30px 0;

    @include breakpointsMaxW($bp-420) {
      width: 200px;
      margin: 0 auto;
    }
  }

  &__body-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 306px) 1fr minmax(auto, 216px);
    gap: 150px;
    padding-bottom: var(--gap-30);

    @include breakpointsMaxW($bp-1290) {
      gap: 50px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, auto);
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__subscribe {
    width: 100%;

    @include breakpointsMaxW($bp-991) {
      order: 3;
    }

    @include breakpointsMaxW($bp-420) {
      text-align: center;
    }
  }

  &__form {
    @include breakpointsMaxW($bp-420) {
      margin: 0 auto;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    row-gap: 18px;
    position: relative;

    @include breakpointsMaxW($bp-991) {
      order: 2;
      grid-template-columns: repeat(2, auto);
      margin: 0;
    }

    @include breakpointsMaxW($bp-768) {
      order: 2;
      max-width: 100%;
      justify-content: flex-start;
      column-gap: 50px;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        left: 0;
      }

      &::after {
        top: -24px;
      }

      &::before {
        bottom: -24px;
      }
    }

    @include breakpointsMaxW($bp-420) {
      justify-content: center;
    }
  }

  &__contacts {
    width: 100%;

    @include breakpointsMaxW($bp-1290) {
      margin-left: auto;
    }

    @include breakpointsMaxW($bp-420) {
      order: 1;
      text-align: center;
    }
  }

  &__address {
    margin-bottom: 18px;

    a {
      display: block;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }

  &__socials {
    @include breakpointsMaxW($bp-420) {
      justify-content: center;
    }
  }

  &__title {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 18px;
  }

  &__link {
    font-weight: normal;
    transition: 150ms ease-in;

    &:hover {
      opacity: 0.7;
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;

    @include breakpointsMaxW($bp-420) {
      flex-direction: column;
    }
  }

  &__copy {
    text-transform: uppercase;

    @include breakpointsMaxW($bp-420) {
      margin-bottom: 24px;
    }
  }
}

.payment {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 29px;

    &--visa {
      width: 93px;

      background-image: url('../images/icons/visa.svg');
    }

    &--mastercard {
      width: 49px;
      background-image: url('../images/icons/mastercard.svg');
    }
  }
}