.header {
  position: relative;
  line-height: 1.4;
  letter-spacing: 0.03em;
  font-family: $OpenSans;

  &__top {
    font-weight: 700;
    background-color: var(--color-dark-800);
    color: var(--color-white);
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 14px;

    @include breakpointsMaxW($bp-768) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @include breakpointsMaxW($bp-420) {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__menu {
    margin-left: auto;
  }

  &__logo {
    margin-right: 24px;

    &--mobile {
      display: none;
    }

    @include breakpointsMaxW($bp-991) {
      display: none;

      &--mobile {
        display: block;
        width: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;

    svg {
      width: 32px;
      height: 22px;
      fill: var(--color-white);
      margin-right: 12px;
    }

    @include breakpointsMaxW($bp-991) {
      width: 100%;
      justify-content: flex-end;

      svg {
        margin-right: 0;
      }
    }
  }

  &__address {
    margin-right: 48px;
  }

  &__bottom {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--color-green-900);
    font-size: 14px;

    @include breakpointsMaxW($bp-768) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @include breakpointsMaxW($bp-420) {
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }

  &__dropdown {
    margin-right: var(--gap-30);
    max-width: 240px;
    width: 100%;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__search {
    max-width: 576px;
    margin-right: 46px;
    height: 50px;

    @include breakpointsMaxW($bp-1290) {
      margin-right: 30px;
    }

    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }

  &__user-menu {
    width: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;

    @include breakpointsMaxW($bp-768) {
      margin-left: auto;
      width: auto;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;

      @include breakpointsMaxW($bp-991) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    transition: 150ms ease-in;

    &--address,
    &--tel {
      padding-left: 45px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        height: 22px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-color: var(--color-white);
      }
    }

    &--address {
      &::after {
        mask: url('../images/sprite.svg#delivery') no-repeat center/cover;
        width: 32px;
      }
    }

    &--tel {
      &::after {
        mask: url('../images/sprite.svg#tel') no-repeat center/cover;
        width: 22px;
      }
    }

    @include breakpointsMaxW($bp-991) {
   font-size: 0;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__toggle {
    display: none;

    svg {
      fill: var(--color-white);
      width: 30px;
      height: 20px;
    }

    @include breakpointsMaxW($bp-991) {
      display: block;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--border-radius-small);
      transition: 150ms ease-in;

      &:hover {
        background-color: var(--color-dark-500);
      }

      span {
        width: 30px;
        height: 2px;
        background-color: var(--color-white);
        position: relative;

        &::after,
        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          left: 0;
          background-color: var(--color-white);
        }

        &::after {
          transform: translateY(-9px);
        }

        &::before {
          transform: translateY(9px);
        }

      }
    }
  }
}