.hero {
  min-height: 600px;
  z-index: var(--z-1);

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpointsMaxW($bp-768) {
      min-height: 420px;
    }

    @include breakpointsMaxW($bp-420) {
      min-height: 320px;
    }
  }

  &__offer {
    box-sizing: border-box;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: var(--border-radius);
    min-height: 315px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    max-width: var(--width-container);
    width: 100%;
    margin: 0 auto;

    @include breakpointsMaxW($bp-768) {
      min-height: 265px;
      padding: 15px;
    }

    @include breakpointsMaxW($bp-420) {
      min-height: 210px;
    }
  }

  &__slides {
    position: relative;
  }

  &__descr {
    line-height: 1.4;
    color: var(--color-dark-500);
    margin-bottom: 35px;

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 24px;
    }
  }

  &__title {
    max-width: 830px;
    margin-bottom: 5px;
  }

  &__button {
    margin-top: auto;
    text-transform: none;
  }

  &__dots {
    display: none;

    @include breakpointsMaxW($bp-768) {
      display: block;

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff !important;
        border: 1px solid #C1C1C1;
        margin: 0 !important;

        &:not(:last-child) {
          margin-right: 12px !important;
        }
      }

      .swiper-pagination-bullet-active {
        background-color: var(--color-green-900) !important;
        border: 1px solid var(--color-green-900);
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-silver-600);
    transition: 150ms ease;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-green-200);
      border-color: var(--color-green-900);
      outline: transparent;

      svg {
        fill: var(--color-green-900);
      }
    }

    &:focus {
      box-shadow: var(--box-focus);
    }

    svg {
      width: 19px;
      height: 32px;
      transition: 150ms ease-in;
    }

    &::after {
      content: '';
    }

    top: 50%;
    transform: translateY(-50%);

    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }

  .swiper-button-next {
    svg {
      transform: rotate(-180deg);
    }

    right: 60px;
  }

  .swiper-button-prev {
    left: 60px;
  }
}