.product-card {
  text-align: left;
  max-width: 300px;
  width: 100%;
  max-height: 410px;
  padding-top: 57px;
  border: var(--border-product);
  border-radius: var(--border-radius);
  transition: 150ms ease-in;
  position: relative;
  background-color: var(--color-white);

  &:hover {
    border: var(--border-product-active);
  }

  &__badges {
    position: absolute;
    top: 12px;
    left: 12px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: uppercase;
    z-index: var(--z-10);
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 16px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.03em;
    color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 3px 6px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--new {
      background-color: var(--color-green-900);
    }

    &--sale {
      background-color: var(--color-red-900);
    }

    &--hit {
      background-color: var(--color-orange-900);
    }
  }

  &__favorite {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-silver-600);
      transition: 150ms ease-in;
    }

    &:hover {
      svg {
        fill: var(--color-orange-900);
      }
    }
  }

  &__cart {
    position: absolute;
    bottom: 18px;
    right: 18px;
    padding: 8px;
    background-color: var(--color-green-900);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;
    z-index: var(--z-5);
    width: 32px;
    height: 32px;

    background-image: url('../images/icons/cart-link.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;

    &:focus {
      box-shadow: var(--box-focus);
    }

    &:hover {
      background-color: var(--color-green-dark);
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__img {
    position: relative;


    &:hover {
      .product-card__img-overlay {
        opacity: 1;
        visibility: visible;
      }

      .product-card__search {
        transform: scale(1);
      }
    }

    img {
      width: 100%;
      max-height: 215px;
      object-fit: contain;
    }
  }

  &__img-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 150ms ease;

    opacity: 0;
    visibility: hidden;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__search {
    width: 48px;
    height: 48px;
    background-color: var(--color-white);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 150ms ease;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 21px;
      height: 21px;
      fill: var(--color-green-900);
    }
  }

  &__info {
    padding: 18px;
    margin-top: auto;
    min-height: 137px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-align: left;
    max-width: 100%;
    max-height: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  &__price {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;

    &--old {
      color: var(--color-silver-600);
      overflow: hidden;
      z-index: 1;
      margin-bottom: 5px;
      font-weight: 400;

      &::after {
        position: absolute;
        content: '';
        width: 44px;
        height: 1px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #c1c1c1;
        transform: rotate(-14.99deg);
        z-index: 5;
      }
    }
  }

  &__rating {
    position: absolute;
    top: 70%;
    right: 16px;
    z-index: var(--z-10);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    padding-right: 18px;

    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/star.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: 50%;
      transform: translateY(-50%);
      right: -2px;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: var(--color-yellow-900);
    }
  }

  &__availability {
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;

    &--in-stock {
      color: var(--color-green-900);
    }

    &--out-stock {
      color: var(--color-silver-600);
    }

    &--soon-end {
      color: var(--color-red-900);
    }
  }
}

.product-card--catalog {
  .product-card__info {
    padding-top: 0;
    margin-top: -7px;
    padding-left: 20px;
  }

  .product-card__availability {
    margin-bottom: 10px;
  }

  .product-card__rating {
    top: 66%;
  }

  .product-card__img-overlay {
    height: calc(100% - 10px);
  }
}

.product-card--stock {
  display: flex;
  padding: 12px;
  min-height: 124px;
  position: relative;

  .product-card__img {
    flex-shrink: 0;
    margin-right: 12px;

    img {
      max-width: 100px;
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
  }

  .product-card__availability {
    margin-top: auto;
  }

  .product-card__info {
    padding: 0;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .product-card__rating {
    bottom: 12px;
    right: 12px;
    top: initial;

    @include breakpointsMaxW($bp-1290) {}

    @include breakpointsMaxW($bp-576) {}
  }

  .product-card__name {
    margin-bottom: auto;
  }

  .product-card__prices {
    flex-direction: row;
    font-size: 20px;
    align-items: flex-end;
    height: auto;
    margin-top: 5px;

    .product-card__price {
      &--new {
        font-size: 20px;
        margin-right: 5px;
      }

      &--old {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}

.product-card--row {
  max-width: 466px;
  width: 100%;
  display: flex;
  padding: 12px;
  min-height: 162px;
  position: relative;

  @include breakpointsMaxW($bp-768) {
    justify-self: center;
    margin: 0 auto;
  }

  .product-card__name {
    max-width: 178px;
  }

  .product-card__img {
    flex-shrink: 0;
    margin-right: 12px;
    max-width: 195px;
    width: 100%;
    max-height: 145px;

    @include breakpointsMaxW($bp-1290) {
      max-width: 150px;
    }

    img {
      width: 90%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-card__img-overlay {
    height: 100%;
  }

  .product-card__availability {
    margin-bottom: 20px
  }

  .product-card__info {
    padding: 0;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .product-card__rating {
    top: 12px;
    right: 18px;

    @include breakpointsMaxW($bp-1290) {}

    @include breakpointsMaxW($bp-576) {}
  }

  .product-card__favorite {
    top: 50%;
    transform: translateY(-65%);
    right: 17px;
  }

  .product-card__name {
    margin-bottom: auto;
  }

  .product-card__bottom {
    display: flex;
    flex-direction: column;
  }

  .product-card__prices {
    margin-top: auto;
  }

  .product-card__badges {
    top: 7px;
    left: 7px;
  }
}

.product-card--cart {
  &:hover {
    transform: translateY(0);
  }

  max-width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 0;
  padding: 12px;
  height: 84px;
  border-radius: var(--border-radius-small);

  .product-card__img {
    width: 60px;
    height: 60px;
    margin-right: 28px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-card__info {
    margin-top: 0;
    min-height: 45px;
    padding: 0;
    justify-content: flex-end;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .product-card__actions {
    min-width: 84px;
    display: flex;
    margin-right: 12px;
    margin-left: auto;
  }

  .product-card__subtotal-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    flex-shrink: 0;
  }

  .product-card__quantity {
    width: 36px;
    background-color: var(--color-green-100);
    text-align: center;

    // !  
    /* Для Firefox */
    -moz-appearance: textfield;

    /* Для Chrome */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
      margin: 0 auto;
    }
  }

  .product-card__action {
    width: 24px;
    height: 24px;
    background-color: var(--color-green-900);
    color: var(--color-white);
  }

  .product-card__name {
    margin-bottom: 5px;
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
  }

  .product-card__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;

    background-image: url('../images/icons/close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .product-card__price {
    font-size: 20px;
  }
}