.product-card {
  text-align: left;
  width: 100%;
  max-height: 410px;
  height: 100%;
  padding-top: 57px;
  border: var(--border-product);
  border-radius: var(--border-radius);
  transition: 150ms ease-in;
  position: relative;
  background-color: var(--color-white);

  &:hover {
    transform: translateY(-6px);
  }

  &:hover {
    border: var(--border-product-active);
  }

  &__top {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(38px + 12px + 7px);
    padding: 12px;
  }

  &__favorite {
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-silver-600);
      transition: 150ms ease-in;
    }

    &:hover {
      svg {
        fill: var(--color-orange-900);
      }
    }
  }

  &__badges {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    text-transform: uppercase;
  }

  &__badge {
    // По центру чтобы
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 16px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.03em;
    color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 3px 6px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--new {
      background-color: var(--color-green-900);
    }

    &--sale {
      background-color: var(--color-red-900);
    }

    &--hit {
      background-color: var(--color-orange-900);
    }
  }

  &__img {
    img {
      width: 100%;
      max-height: 215px;
      object-fit: contain;
    }
  }

  &__bottom {
    padding: 18px;
    margin-top: auto;
    min-height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-align: left;
  }

  &__prices {
    display: flex;
    flex-direction: column;
  }

  &__price {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;

    &--old {
      color: var(--color-silver-600);
      overflow: hidden;
      z-index: 1;
      margin-bottom: 5px;
      font-weight: 400;

      &::after {
        position: absolute;
        content: '';
        width: 44px;
        height: 1px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #c1c1c1;
        transform: rotate(-14.99deg);
        z-index: 5;
      }
    }
  }

  &__cart {
    position: absolute;
    bottom: 18px;
    right: 18px;
    padding: 8px;
    background-color: var(--color-green-900);
    border-radius: var(--border-radius);
    // По центру чтобы
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;

    width: 32px;
    height: 32px;

    background-image: url('../images/icons/cart-link.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;

    &:focus {
      box-shadow: var(--box-focus);
    }

    &:hover {
      background-color: var(--color-green-dark);
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__rating {
    position: absolute;
    top: 0;
    right: 16px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    padding-right: 18px;

    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/star.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: 50%;
      transform: translateY(-50%);
      right: -2px;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: var(--color-yellow-900);
    }
  }

  &__availability {
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: var(--color-green-900);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 17px;
  }
}

.product-card--stock {
  display: flex;
  padding: 12px;
  min-height: 124px;
  position: relative;

  .product-card__img {
    flex-shrink: 0;
    margin-right: 12px;

    img {
      max-width: 100px;
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
  }

  .product-card__bottom {
    padding: 0;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .product-card__rating {
    position: absolute;
    bottom: 0;
    right: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    padding-right: 18px;

    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/star.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: 50%;
      transform: translateY(-50%);
      right: -2px;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: var(--color-yellow-900);
    }

    @include breakpointsMaxW($bp-1290) {
      bottom: 50%;
      right: initial;
      left: 0%;
    }

    @include breakpointsMaxW($bp-576) {
      left: initial;
      bottom: initial;
      right: 0;
      bottom: 0;
    }
  }

  .product-card__availability {
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: var(--color-green-900);
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .product-card__name {
    margin-bottom: auto;
  }

  .product-card__prices {
    flex-direction: row;
    font-size: 20px;
    align-items: flex-end;

    .product-card__price {
      &--new {
        margin-right: 12px;
      }

      &--old {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}

.product-card--cart {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 0;
  padding: 12px;
  min-height: 84px;

  .product-card__img {
    width: 60px;
    height: 60px;
    margin-right: 35px;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-card__bottom {
    max-width: 125px;
    min-height: 45px;
    padding: 0;
  }
}

.product-card__actions {
  margin-left: auto;
  width: 153px;
  display: flex;
  justify-content: flex-start;
  margin-right: 12px;

}

.product-card__subtotal-price {
  margin-left: auto;
}

.product-card__quantity {
  width: 36px;

  background-color: var(--color-green-100);
  padding-left: 14px;
  // Чтобы не вводили
  cursor: not-allowed;
  pointer-events: none;

  // !  
  /* Для Firefox */
  -moz-appearance: textfield;

  /* Для Chrome */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    margin: 0 auto;
  }
}

.product-card__action {
  width: 24px;
  height: 24px;
  background-color: var(--color-green-900);
  color: var(--color-white);
}

.product-card__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;

  background-image: url('../images/icons/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-card--row {
  // position: relative;
  display: flex;
  padding-top: 0;
  height: auto;
  min-height: 162px;
  padding: 9px;

  .product-card__top {}

  .product-card__img {
    width: 200px;
    height: 145px;
  }

  .product-card__bottom {
    margin-top: 0;
    justify-content: flex-start;
    padding: 0;
  }

  .product-card__cart {
    right: 12px;
    bottom: 12px;
  }

  .product-card__favorite {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .product-card__rating {
    top: 12px;
  }

  .product-card__prices {
    margin-top: auto;
  }
}