.recommendations {
  padding-bottom: var(--gap-48);

  &__title {
    font-family: $RudaSemibold;
    text-align: left;
    font-size: 30px;
  }

  &__slider {
    height: 460px;
    display: flex;
    align-items: center;
    min-width: 0;

    @include breakpointsMaxW($bp-576) {
      height: 370px;
    }
  }

  &__slides {
    height: 100%;
  }

  &__slide {
    box-sizing: border-box;
    height: auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--gap-30);

    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }

  &__arrows {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  &__arrow {
    width: 60px;
    height: 60px;
    border: var(--border-product);
    border-radius: var(--border-radius);


    &:first-child {
      margin-right: var(--gap-30);
    }

    svg {
      width: 19px;
      height: 32px;
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  .swiper-pagination {
    display: none;
    bottom: 0;

    @include breakpointsMaxW($bp-768) {
      display: block;
    }

    &-bullet {
      border: 1px solid #C1C1C1;
      cursor: pointer;
      background-color: transparent;
      width: 10px;
      height: 10px;
      margin: 0 !important;

      &:not(:last-child) {
        margin-right: 12px !important;
      }

      &-active {
        background-color: var(--color-green-900);
        border: 1px solid var(--color-green-900);
      }
    }
  }
}