.sidebar-box {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  outline: 1px solid var(--color-silver-600);
  height: 65px;
  transition: 200ms ease;
  width: 100%;

  &.active {
    height: auto;
    opacity: 1;
    visibility: visible;

    .sidebar-box__drop {
      opacity: 1;
      visibility: visible;
    }

    .sidebar-box__top {
      &::after {
        transform: translateY(-50%) rotate(270deg);
      }
    }
  }

  &--categories {
    max-height: 364px;

    .sidebar-box__list {
      height: 263px;
    }
  }

  &--offers {
    max-height: 198px;

    .sidebar-box__list {
      padding-top: 3px;
      height: 96px;
    }
  }

  &--price {
    max-height: 183px;
  }

  &--brands {
    max-height: 307px;

    .sidebar-box__list {
      padding-top: 3px;
      height: 205px;
    }
  }

  &--price {
    max-height: 183px;
  }

  &__top {
    padding: 18px;
    border-bottom: 1px solid var(--color-silver-600);

    cursor: pointer;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 18px;
      background-image: url('../images/icons/chevron-gray.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateY(-50%) rotate(90deg);
      transition: 150ms ease-in;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-dark-900);
  }

  &__drop {
    padding: 18px;

    opacity: 0;
    visibility: hidden;
    transition: 200ms ease-in;
  }

  &__list {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;

    // &::-webkit-scrollbar {
    //   width: 4px;
    // }

    // &::-webkit-scrollbar-track {
    //   background-color: transparent;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: #C4C4C4;
    //   border-radius: 3px;
    // }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--color-dark-500);

  }

  &__ranges {
    position: relative;
    height: 82px;
  }

  &__tracks {
    position: relative;
    width: 100%;
    height: 20px;
  }

  &__track {
    position: absolute;
    width: calc(100% - 18px);
    height: 2px;
    background-color: #C4C4C4;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__range {
    position: absolute;

    appearance: none;
    outline: none;

    width: calc(100% - 18px);
    height: 2px;

    background-color: transparent;
    cursor: pointer;

    pointer-events: none;

    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    &::-webkit-slider-runnable-track {
      // дорожка, бегунок
      appearance: none;
      height: 18px;
      // pointer-events: all;
    }

    &::-webkit-slider-thumb {
      // палек, сам эелемент
      pointer-events: all;

      appearance: none;

      height: 18px;
      width: 18px;
      background-color: var(--color-green-900);
      border-radius: 50%;
      pointer-events: auto;
    }

    &:active::-webkit-slider-thumb {
      background-color: #fff;
      border: 3px solid var(--color-green-900);
    }
  }

  &__values {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-silver-600);
    margin-bottom: 24px;
  }

  &__value {
    display: flex;
    align-items: center;

    .value {
      width: 80px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 6px;
      color: var(--color-dark-500);
      border: 1px solid var(--color-silver-600);
      border-radius: var(--border-radius-small);
    }
  }
}