.slider-popup {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);

  top: 0;
  left: 0;
  z-index: 10000;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 350ms ease;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 38px;
    right: 38px;

    &:hover {
      svg {
        fill: #000
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: rgba(0, 0, 0, 0.15);
      transition: 150ms ease-in;
    }
  }

  &__body {
    width: 100%;
  }

  .carousel {
    &__slide {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 750px;
        width: 100%;
        height: 750px;
        object-fit: contain;
        display: block;
      }
      @include breakpointsMaxW($bp-768){
        img {
          max-width: 360px;
          height: 360px;
        }
      }
    }

    .is-next {
      right: 0;
    }
  }
}