.user-menu {
  display: flex;

  @include breakpointsMaxW($bp-768) {}

  &__item {
    position: relative;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-small);

    &:nth-child(1) {
      display: none;
    }

    @include breakpointsMaxW($bp-768) {
      &:nth-child(1) {
        display: block;
      }

      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    svg {
      width: 32px;
      height: 32px;
      fill: var(--color-white);
    }

    transition: 150ms ease-in;

    &:hover {
      background-color: rgba(117, 175, 38);
    }

    background-repeat: no-repeat;
    background-position: center;

    &--search {
      background-image: url('../images/icons/search-link.svg');
      background-size: 25px 32px;
    }

    &--user {
      background-image: url('../images/icons/user-link.svg');
      background-size: 25px 32px;
    }

    &--favorite {
      background-image: url('../images/icons/favorite-link.svg');
      background-size: 32px 28px;
    }

    &--cart {
      background-image: url('../images/icons/cart-link.svg');
      background-size: 32px 30px;
    }
  }

  &__amount {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 1;

    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-red-900);

    top: 3px;
    left: 3px;
  }
}