<section class="banners">
  <div class="container">
    <h2 class="visually-hidden">Банеры</h2>

    <div class="banners__wrapper">
      <div class="banners__item banners__item--big" style="background-image: url('images/banners/banner-1.jpg');">
        <span class="banners__text">СВЕЖАЙШИЕ ФРУКТЫ</span>
        <h2 class="banners__title">Начни фруктовое лето <br> всего от 99 Р</h2>
        <a class="banners__link link link--dark" href="#">Перейти к покупкам</a>
      </div>
      <div class="banners__item" style="background-image: url('images/banners/banner-2.jpg');">
        <span class="banners__text">СЕЗОННАЯ РАСПРОДАЖА</span>
        <h2 class="banners__title">ОВОЩЕПАД<br>ДО -50%Р</h2>
        <a class="banners__link link link--dark" href="#">Перейти к покупкам</a>
      </div>
      <div class="banners__item" style="background-image: url('images/banners/banner-3.jpg');">
        <span class="banners__text">НЯМ-НЯМ</span>
        <h2 class="banners__title">СВЕЖИЙ<br>ХЛЕБЧИК</h2>
        <a class="banners__link link link--dark" href="#">Перейти к покупкам</a>
      </div>

    </div>
  </div>
</section>