<section class="catalog">
  <div class="container">
    <h2 class="catalog__title section-title">Каталог товаров</h2>
    <div class="catalog__wrapper">
      <aside class="catalog__sidebar sidebar">
        <div class="sidebar__container">
          <button class="sidebar__close" type="button" aria-label="Закрыть фильтры"></button>
          <div class="sidebar__box sidebar-box sidebar-box--categories">
            <div class="sidebar-box__top">
              <h3 class="sidebar-box__title">Категории</h3>
            </div>
            <div class="sidebar-box__drop">
              <ul class="sidebar-box__list">
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="sidebar-box__item">
                  <a class="sidebar-box__link" href="#">Овощи и фрукты</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar__box sidebar-box sidebar-box--offers">
            <div class="sidebar-box__top">
              <h3 class="sidebar-box__title">Предложения</h3>
            </div>
            <div class="sidebar-box__drop">
              <ul class="sidebar-box__list">
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Со скидкой
                  </label>
                </li>
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox" checked>
                    <span class="check__box"></span>
                    Новинка
                  </label>
                </li>
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Хит
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar__box sidebar-box sidebar-box--brands">
            <div class="sidebar-box__top">
              <h3 class="sidebar-box__title">Бренд</h3>
            </div>
            <div class="sidebar-box__drop">
              <ul class="sidebar-box__list">
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    CocaCola
                  </label>
                </li>
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Pepsi
                  </label>
                </li>
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Sprite
                  </label>
                </li>
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Fanta
                  </label>
                </li>
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    RedBull
                  </label>
                </li>
                <li class="sidebar-box__item">
                  <label class="check">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Dr Pepper
                  </label>
                </li>

              </ul>
            </div>
          </div>
          <div class="sidebar__box sidebar-box sidebar-box--price">
            <div class="sidebar-box__top">
              <h3 class="sidebar-box__title">Цена</h3>
            </div>
            <div class="sidebar-box__drop">
              <div class="sidebar-box__inputs">
                <label class="sidebar-box__label">
                  <span class="sidebar-box__text">от</span>
                  <input class="sidebar-box__input" type="number" min="0" max="1100" id="input-0">
                  <span class="sidebar-box__text">₽</span>
                </label>
                <label class="sidebar-box__label">
                  <span class="sidebar-box__text">до</span>
                  <input class="sidebar-box__input" type="number" min="0" max="1100" id="input-1">
                  <span class="sidebar-box__text">₽</span>
                </label>
              </div>
              <div class="sidebar-box__slider range-slider" id="range-slider"></div>
            </div>
          </div>
        </div>
      </aside>
      <div class="catalog__content">
        <div class="catalog__actions filter-actions">

          <button class="filter-actions__button filter-actions__button--show-filter"></button>

          <div class="filter-actions__select">
            <select class="select" name="select-1" id="select-1">
              <option value="1">По названию</option>
            </select>
          </div>
          <div class="filter-actions__select">
            <select class="select" name="select-1" id="select-1">
              <option value="1">по 12</option>
            </select>
          </div>

          <button class="filter-actions__button filter-actions__button--grid active"></button>
          <button class="filter-actions__button filter-actions__button--list">
          </button>

        </div>

        <ul class="catalog__list catalog__list--grid">
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <div class="product-card__top">
                <div class="product-card__badges">
                  <span class="product-card__badge product-card__badge--new">Новинка</span>
                  <span class="product-card__badge product-card__badge--sale">-50%</span>
                </div>
                <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__bottom">
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>

                <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>

                <div class="product-card__rating">4.5</div>
              </div>
            </article>
          </li>
        </ul>

        <div class="catalog__bottom">
          <button class="catalog__button button button--green">Показать еще</button>
          <div class="catalog__pagination pagination">

            <ul class="pagination__list">
              <li class="pagination__item">
                <button class="pagination__button">
                  <svg>
                    <use xlink:href="images/sprite.svg#chevron"></use>
                  </svg>
                </button>
              </li>

              <li class="pagination__item pagination__item--active">
                <a class="pagination__link" href="#">1</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">2</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">...</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">9</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">10</a>
              </li>
              <li class="pagination__item">
                <button class="pagination__button">
                  <svg>
                    <use xlink:href="images/sprite.svg#chevron"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>