<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <a class="logo" href="#">
        <img src="images/logo.png" alt="Логотип">
      </a>
    </div>
  </div>

  <div class="footer__body">
    <div class="container">
      <div class="footer__body-wrapper">
        <div class="footer__subscribe">
          <form class="footer__form form-subscribe" action="#">

            <div class="form-subscribe__group"><label class="form-subscribe__label" for="email">Следите
                за нашими акциями</label>
              <input class="form-subscribe__input" id="email" type="email" name="email" placeholder="email@email.com"
                required>
              <button class="form-subscribe__button button button--green" type="submit">Подписаться</button>
            </div>
          </form>
        </div>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">О нас</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Оплата и доставка</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Отзывы</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контакты</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Вакансии</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Новости</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Публичная оферта</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Акции</a>
          </li>
        </ul>
        <address class="footer__contacts">
          <div class="footer__address">
            <a href="tel:7907288365">Горячая линия +7 907 288 365</a>
            <a href="#">Санкт-Петербург, ул. Ленина, 1</ф>
          </div>
          <ul class="footer__socials socials">
            <li class="socials__item">
              <a class="socials__link socials__link--fb" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--yb" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--tm" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--in" href="#"></a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <div class="footer__copy">© 2021 Фрешок</div>
        <ul class="footer__payment payment">
          <li class="payment__item payment__item--visa">
          </li>
          <li class="payment__item payment__item--mastercard">
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>