<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="logo" href="#">
        <img src="images/logo.png" alt="">
      </a>
    </div>
    <div class="footer__body">
      <div class="footer__subscribe">
        <h2 class="footer__title">Следите за нашими акциями</h2>
        <form class="footer__form form-subscribe" action="#">
          <div class="form-subscribe__group">
            <input class="form-subscribe__input" type="text" placeholder="email@email.com">
            <button class="form-subscribe__button button button--green" type="submit">Подписаться</button>
          </div>
        </form>
      </div>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">О нас</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Оплата и доставка</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Отзывы</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Контакты</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Вакансии</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Новости</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Публичная оферта</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Акции</a>
        </li>
      </ul>

      <address class="footer__contacts">
        <div class="footer__address">Горячая линия
          <a href="tel:7907288365">+7 907 288 365</a>
          <a href="#" >Санкт-Петербург, ул. Ленина, 1</ф>
        </div>
        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link socials__link--fb" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--yb" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--tm" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--in" href="#"></a>
          </li>
        </ul>
      </address>
    </div>
    
    <div class="footer__bottom">
      <div class="container">
        <div class="footer__bottom-wrapper">
          <div class="footer__copy">© 2021 Фрешок</div>
          <ul class="footer__payment payment">
            <li class="payment__item payment__item--visa">
            </li>
            <li class="payment__item payment__item--mastercard">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>