<div class="hero">
  <div class="hero__slider swiper hero-slider">
    <ul class="hero__slides swiper-wrapper">
      <li class="hero__slide swiper-slide" style="background-image: url('images/hero-bg.jpg');">
        <div class="hero__offer">
          <h1 class="hero__title main-title">СВЕЖАЧОК ВАМ в ХАТУ <br> <span>Скидка -50%</span></h1>
          <div class="hero__descr">
            Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
          </div>
          <button class="hero__button button button--green">Купить сейчас</button>
        </div>
      </li>
      <li class="hero__slide swiper-slide" style="background-image: url('images/hero-bg-2.jpg');">
        <div class="hero__offer">
          <h1 class="hero__title main-title">НАКРУТИ СЕБЕ ТОМАТОВ <br> <span>АКЦИЯ: 3 кг по цене 1</span></h1>
          <div class="hero__descr">
            Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
          </div>
          <button class="hero__button button button--green">Купить сейчас</button>
        </div>
      </li>
      <li class="hero__slide swiper-slide" style="background-image: url('images/hero-bg-3.jpg');">
        <div class="hero__offer">
          <h1 class="hero__title main-title">Пусть остальные
            позеленеют от зависти <br> <span>Распродажа зелени</span></h1>

          <button class="hero__button button button--green">Купить сейчас</button>
        </div>
      </li>
    </ul>
    <div class="swiper-button-next">
      <svg>
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg>
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </div>
  </div>

</div>