<section class="hero">
  <div class="hero__slider swiper hero-slider">
    <ul class="hero__slides swiper-wrapper">
      <li class="hero__slide swiper-slide" style="background-image: url('images/hero-bg.jpg');">
        <div class="hero__offer">
          <h2 class="hero__title main-title">СВЕЖАЧОК ВАМ в ХАТУ <br> <span>Скидка -50%</span></h2>
          <div class="hero__descr">
            <p>Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!</p>
          </div>
          <a class="hero__button button button--green" href="#">Купить сейчас</a>
        </div>
      </li>
      <li class="hero__slide swiper-slide" style="background-image: url('images/hero-bg-2.jpg');">
        <div class="hero__offer">
          <h2 class="hero__title main-title">НАКРУТИ СЕБЕ ТОМАТОВ <br> <span>АКЦИЯ: 3 кг по цене 1</span></h2>
          <div class="hero__descr">
            <p>Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!</p>
          </div>
          <a class="hero__button button button--green" href="#">Купить сейчас</a>
        </div>
      </li>
      <li class="hero__slide swiper-slide" style="background-image: url('images/hero-bg-3.jpg');">
        <div class="hero__offer">
          <h2 class="hero__title main-title">Пусть остальные
            позеленеют от зависти <br> <span>Распродажа зелени</span></h2>

          <a class="hero__button button button--green" href="#">Купить сейчас</a>
        </div>
      </li>
    </ul>
    <button class="swiper-button-next" type="button" aria-label="Перейти на следующий слайд">
      <svg>
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </button>
    <button class="swiper-button-prev" type="button" aria-label="Перейти на предыдущий слайд ледующий слайд">
      <svg>
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </button>
  </div>
  </ы>