<div class="mobile-menu active">
  <div class="mobile-menu__wrapper">

    <div class="mobile-menu__top">
      <a class="logo" href="#">
        <img src="images/logo-green.svg" alt="">
      </a>

      <button class="mobile-menu__close"></button>
    </div>

    <button class="mobile-menu__signup button button--green" type="button">
      <a href="#">Вход</a>
      <a href="#">Регистрация</a>
    </button>
    <a class="mobile-menu__btn-catalog" href="#">
      Каталог товаров
    </a>

    <address class="mobile-menu__contacts contacts">
      <div class="contacts__address">
        <a class="contacts__address--tel" href="tel:7907288365">+7 907 288 365</a>
        <a class="contacts__address--location" href="#">Санкт-Петербург, ул. Ленина, 1</a>
      </div>
      <ul class="contacts__socials socials socials--mobile">
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Доставка</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">О нас</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Новости</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Контакты</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Акции</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Вакансии</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Отзывы</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Публичная оферта</a>
      </li>
    </ul>
  </div>
</div>