<section class="products-grid products-grid--stock" data-ref="container-2">
  <div class="container">
    <h2 class="products-grid__title section-title">Акции</h2>
    <ul class="products-grid__filters filters">
      <li class="products-grid__filter filters__item" data-filter="all">
        <button type="button">Все товары</button>
      </li>
      <li class="products-grid__filter filters__item" data-filter=".new">
        <button type="button">Новинки</button>
      </li>
      <li class="products-grid__filter filters__item" data-filter=".hit">
        <button type="button">Хиты</button>
      </li>
    </ul>

    <ul class="products-grid__catalog" id="stock-catalog">
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/product-1.png" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/product-1.png" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/product-1.png" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/product-1.png" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/product-1.png" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/product-1.png" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/product-1.png" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/product-1.png" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <button class="products-grid__add button button--green" type="button">Показать еще</button>
  </div>
</section>