<section class="product-section">

  <div class="container">
    <div class="product-section__wrapper">
      <div class="product-section__preview carousel">
        <div class="carousel__slide">
          <img src="images/products/product-1.png" alt="">
        </div>
        <div class="carousel__slide">
          <img src="images/products/product-1.png" alt="">
        </div>
        <div class="carousel__slide">
          <img src="images/products/product-1.png" alt="">
        </div>
      </div>

      <div class="product-section__info product-info">
        <h2 class="product-section__title section-title">Питахайя красная с белой мякотью</h2>

        <div class="product-info__badge">
          Хит
        </div>

        <div class="product-info__vendors">
          <div class="product-info__code code-product">
            Код: 0111111
          </div>

          <div class="product-info__rating">
            <fieldset class="rating">
              <legend class="rating__caption visually-hidden">Райтинг товара</legend>
              <div class="rating__group">
                <input class="rating__star" type="radio" name="product-1" value="1" aria-label="Ужасно">
                <input class="rating__star" type="radio" name="product-1" value="2" aria-label="Сносно">
                <input class="rating__star" type="radio" name="product-1" value="3" aria-label="Нормально">
                <input class="rating__star" type="radio" name="product-1" value="4" aria-label="Хорошо" checked>
                <input class="rating__star" type="radio" name="product-1" value="5" aria-label="Отлично">
              </div>
            </fieldset>
          </div>

          <div class="product-info__availability">
            В НАЛИЧИИ
          </div>
        </div>

        <div class="product-card__prices">
          <span class="product-card__price product-card__price--old">299 ₽ </span>
          <span class="product-card__price product-card__price--new">199 ₽ </span>
        </div>

        <div class="product-info__actions">
          <div class="product-info__counter">
            <button class="product-info__action product-info__action--decrease">-</button>
            <input class="product-info__quantity" type="number" value="2" data-price="999" readonly>
            <button class="product-info__action product-info__action__action--increase">+</button>
          </div>
          <button class="product-info__add-cart button button--green"><span>ДОБАВИТЬ В КОРЗИНУ</span></button>
          <button class="product-info__favorite"></button>
        </div>

        <div class="product-info__detail">
          <h3 class="product-info__title">Доставка и оплата</h3>
          <div class="product-info__text">
            <p>Минимальная сумма заказа - 100 руб.</p>
            <p>Время доставки заказа - 60-120 мин.</p>
            <p>Оплата осуществляется только банковской картой.</p>
            <p>Окончательная сумма заказа формируется после сбора товаров.</p>
          </div>

          <a class="product-info__more" href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tab">
  <div class="container">
    <ul class="tab__list">
      <li class="tab__item ">
        <button class="tab__button tab__button--active">ОПИСАНИЕ</button>
      </li>
      <li class="tab__item">
        <button class="tab__button">ХАРАКТЕРИСТИКИ</button>
      </li>
      <li class="tab__item">
        <button class="tab__button">ОТЗЫВЫ (2)</button>
      </li>
    </ul>
    <div class="tab__body">
      <div class="tab__body-list tab-description fadeIn active">
        <p>
          Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует укреплению
          иммунной системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ. Оказывает
          противовоспалительное действие, так как фрукт богат антиоксидантами. При употреблении питахайи, понижается
          уровень сахара в крови, улучшается зрение и работа сердечно–сосудистой системы. Так как фрукт низкокалорийный
          и
          состоит на 90% из воды, способствует снижению веса.
        </p>
        <p> Витамины: С, Е, РР, витамины группы В</p>
        <p>Микроэлементы: железо, калий, кальций, магний, фосфор</p>
        <p>Внешний вид товара может отличаться от изображений, представленных на сайте.</p>
      </div>
      <div class="tab__body-list tab-specifications fadeIn">
        <p>
          <span class="tab-specifications__name">Вес:</span> 250-350 г;
        </p>
        <p><span class="tab-specifications__name">Калорийность (на 100г):</span> 50 ккал;</p>
        <p><span class="tab-specifications__name">Условия хранения:</span> температура от +3 до +8;</p>
        <p><span class="tab-specifications__name">Другие названия:</span> Драконов фрукт, Глаз дракона;</p>
        <p><span class="tab-specifications__name">Страна происхождения:</span> Вьетнам;</p>
        <p><span class="tab-specifications__name">Срок хранения:</span> до 5 дней.</p>
      </div>
      <!-- ! REVIEWS -->
      <div class="tab__body-list tab-reviews reviews fadeIn">
        <h3 class="reviews__title">Мнения наших клиентов</h3>

        <ul class="reviews__list">
          <li class="reviews__item">
            <article class="reviews__review review">
              <div class="review__top">
                <div class="review__top-info">
                  <img class="review__img" src="images/review.jpg" alt="">
                  <div class="">
                    <h4 class="review__name">Андрей</h4>
                    <time class="review__date">10.06.2021</time>
                  </div>
                </div>

                <div class="review__rating">
                  <fieldset class="rating">
                    <legend class="rating__caption visually-hidden">Райтинг покупателя</legend>
                    <div class="rating__group">
                      <input class="rating__star" type="radio" name="customer-1" value="1" aria-label="Ужасно">
                      <input class="rating__star" type="radio" name="customer-1" value="2" aria-label="Сносно">
                      <input class="rating__star" type="radio" name="customer-1" value="3" aria-label="Нормально">
                      <input class="rating__star" type="radio" name="customer-1" value="4" aria-label="Хорошо" checked>
                      <input class="rating__star" type="radio" name="customer-1" value="5" aria-label="Отлично">
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="review__text">
                <p> Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))</p>
              </div>


            </article>
          </li>
          <li class="reviews__item">
            <article class="reviews__review review">
              <div class="review__top">
                <div class="review__top-info">
                  <img class="review__img" src="images/review.jpg" alt="">
                  <div class="review__data">
                    <h4 class="review__name">Андрей</h4>
                    <time class="review__date">10.06.2021</time>
                  </div>
                </div>

                <div class="review__rating">
                  <fieldset class="rating">
                    <legend class="rating__caption visually-hidden">Райтинг покупателя</legend>
                    <div class="rating__group">
                      <input class="rating__star" type="radio" name="customer-2" value="1" aria-label="Ужасно">
                      <input class="rating__star" type="radio" name="customer-2" value="2" aria-label="Сносно">
                      <input class="rating__star" type="radio" name="customer-2" value="3" aria-label="Нормально">
                      <input class="rating__star" type="radio" name="customer-2" value="4" aria-label="Хорошо">
                      <input class="rating__star" type="radio" name="customer-2" value="5" aria-label="Отлично" checked>
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="review__text">
                <p> Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто взрыв), но нет.
                  Вкус "сдержанно-сладкий" и очень-очень свежий! Рад, что есть такая возможность - пробовать
                  экзотические фрукты.</p>
              </div>


            </article>
          </li>
        </ul>

        <div class="reviews__add add-review">
          <h2 class="reviews__title">Оставить отзыв</h2>

          <div class="add-review">
            <div class="add-review__grade">
              <span class="">Ваша оценка *</span>
              <fieldset class="rating">
                <legend class="rating__caption visually-hidden">Райтинг покупателя</legend>
                <div class="rating__group">
                  <input class="rating__star" type="radio" name="new-customer" value="1" aria-label="Ужасно">
                  <input class="rating__star" type="radio" name="new-customer" value="2" aria-label="Сносно">
                  <input class="rating__star" type="radio" name="new-customer" value="3" aria-label="Нормально">
                  <input class="rating__star" type="radio" name="new-customer" value="4" aria-label="Хорошо">
                  <input class="rating__star" type="radio" name="new-customer" value="5" aria-label="Отлично">
                </div>
              </fieldset>
            </div>
            <form class="add-review__form form-add-review">

              <div class="form-add-review__wrapper">
                <div class="">
                  <div class="form-add-review__group">
                    <label for="message">Ваш отзыв *</label>
                    <textarea class="form-add-review__input input input--textarea" name="message" id="message"
                      placeholder="Введите текст отзыва"></textarea>
                  </div>
                </div>

                <div class="form-add-review__inputs">
                  <div class="form-add-review__group">
                    <label for="name"> Имя </label> <input class="form-add-review__input input" id="name" type="text"
                      name="name" placeholder="Введите ваше имя" required>
                  </div>
                  <div class="form-add-review__group">
                    <label for="email">
                      Email
                    </label>
                    <input class="form-add-review__input input" id="email" type="email" name="email"
                      placeholder="youremail@mail.com" required>
                  </div>
                </div>

              </div>
              <div class="form-add-review__check">
                <label class="check">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span>
                  Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
                </label>
              </div>

              <button class="form-add-review__submit button button--green" type="submit">Оставить отзыв</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>