<section class="products-grid products-grid--stock" data-ref="container-2">
  <div class="container">
    <h2 class="products-grid__title section-title">Акции</h2>
    <ul class="products-grid__filters filters">
      <li class="products-grid__filter filters__item" data-filter="all">
        <button type="button">Все товары</button>
      </li>
      <li class="products-grid__filter filters__item" data-filter=".new">
        <button type="button">Новинки</button>
      </li>
      <li class="products-grid__filter filters__item" data-filter=".hit">
        <button type="button">Хиты</button>
      </li>
    </ul>

    <ul class="products-grid__catalog" id="stock-catalog">
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/stock/p-1.jpg" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>
            <span class="product-card__availability product-card__availability--in-stock">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">999 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.9</div>

          <div class="product-card__img">
            <img src="images/products/stock/p-2.jpg" alt="Кофе">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Кофе с коноплей органический Caffé Salomoni 250г</a></h3>
            <span class="product-card__availability product-card__availability--soon-end">Заканчивается</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">777 ₽ </span>
              <span class="product-card__price product-card__price--old">877 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">5.0</div>

          <div class="product-card__img">
            <img src="images/products/stock/p-3.jpg" alt="Клубника">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Клубника, 1 кг</a></h3>
            <span class="product-card__availability product-card__availability--out-stock">Нет в наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">199 ₽ </span>
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">5.0</div>

          <div class="product-card__img">
            <img src="images/products/stock/p-4.jpg" alt="Манго">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Манго, 1 шт</a></h3>
            <span class="product-card__availability product-card__availability--in-stock">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">660 ₽ </span>
              <span class="product-card__price product-card__price--old">960 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.5</div>

          <div class="product-card__img">
            <img src="images/products/stock/p-5.jpg" alt="Лосось">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Лосось, 1 кг</a></h3>
            <span class="product-card__availability product-card__availability--in-stock">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">999 ₽ </span>
              <span class="product-card__price product-card__price--old">1199 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--hit">хит</span>
          </div>

          <div class="product-card__rating">4.9</div>

          <div class="product-card__img">
            <img src="images/products/stock/p-6.jpg" alt="Сок Granini овощной">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Сок Granini овощной 100%, 0.5л</a></h3>
            <span class="product-card__availability product-card__availability--soon-end">Заканчивается</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">180 ₽ </span>
              <span class="product-card__price product-card__price--old">230 ₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.8</div>

          <div class="product-card__img">
            <img src="images/products/stock/p-7.jpg" alt="Фруктовая корзина">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Фруктовая корзина, 1 шт</a></h3>
            <span class="product-card__availability product-card__availability--in-stock">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">3990₽ </span>
              <span class="product-card__price product-card__price--old">5990₽ </span>
            </div>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix new">
        <article class="product-card product-card--stock">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
          </div>

          <div class="product-card__rating">4.6</div>

          <div class="product-card__img">
            <img src="images/products/stock/p-8.jpg" alt="Свинина мякоть">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Свинина мякоть, 1 кг</a></h3>
            <span class="product-card__availability product-card__availability--in-stock">В наличии</span>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">499 ₽ </span>
              <span class="product-card__price product-card__price--old">599 ₽ </span>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <button class="products-grid__add button button--green" type="button">Показать еще</button>
  </div>
</section>