<section class="top section">
  <div class="container">
    <h2 class="top__title section-title">Топовые товары</h2>

    <ul class="top__filters filters">
      <li class="top__filter filters__item" data-filter="all">
        <button>Все товары</button>
      </li>
      <li class="top__filter filters__item" data-filter=".category-a">
        <button>Фрукты</button>
      </li>
      <li class="top__filter filters__item" data-filter=".category-b">
        <button>Овощи</button>
      </li>
      <li class="top__filter filters__item" data-filter=".category-c">
        <button>Напитки</button>
      </li>
      <li class="top__filter filters__item" data-filter=".category-d">
        <button>Бакалея</button>
      </li>
    </ul>

    <ul class="top__catalog product-cards" id="top-catalog">
      <li class="product-cards__item mix category-a">
        <article class="product">
          <div class="product__top">
            <div class="product__badges">
              <span class="product__badge product__badge--new">Новинка</span>
              <span class="product__badge product__badge--sale">-50%</span>
            </div>
            <button class="product__favorite">
              <svg>
                <use xlink:href="images/sprite.svg#favorite-link"></use>
              </svg>
            </button>
          </div>
          <div class="product__img" style="background-image: url('images/products/product-1.png');">
          </div>
          <div class="product__bottom">
            <h3 class="product__name">Ананас, 1кг</h3>
            <div class="product__price price">
              <span class="price__old">1999 ₽ </span>
              <span class="price__new">999 ₽ </span>
            </div>

            <button class="product__cart">
              <svg>
                <use xlink:href="images/sprite.svg#cart-link"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="product-cards__item mix category-a">
        <article class="product">
          <div class="product__top">
            <button class="product__favorite">
              <svg>
                <use xlink:href="images/sprite.svg#favorite-link"></use>
              </svg>
            </button>
          </div>
          <div class="product__img" style="background-image: url('images/products/product-2.png');">
          </div>
          <div class="product__bottom">
            <h3 class="product__name">Лимон, 1кг</h3>
            <div class="product__price price">
              <span class="price__new">199 ₽ </span>
            </div>
            <button class="product__cart">
              <svg>
                <use xlink:href="images/sprite.svg#cart-link"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="product-cards__item mix category-b">
        <article class="product">
          <div class="product__top">
            <div class="product__badges">
              <span class="product__badge product__badge--hit">Хит</span>
            </div>
            <button class="product__favorite">
              <svg>
                <use xlink:href="images/sprite.svg#favorite-link"></use>
              </svg>
            </button>
          </div>
          <div class="product__img" style="background-image: url('images/products/product-3.png');">
          </div>
          <div class="product__bottom">
            <h3 class="product__name">Питахайя красная с белой мякотью, 1шт</h3>
            <div class="product__price price">
              <span class="price__new">1019 ₽ </span>
            </div>
            <button class="product__cart">
              <svg>
                <use xlink:href="images/sprite.svg#cart-link"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="product-cards__item mix category-b">
        <article class="product">
          <div class="product__top">
            <div class="product__badges">
              <span class="product__badge product__badge--new">Новинка</span>
            </div>
            <button class="product__favorite">
              <svg>
                <use xlink:href="images/sprite.svg#favorite-link"></use>
              </svg>
            </button>
          </div>
          <div class="product__img" style="background-image: url('images/products/product-4.png');">
          </div>
          <div class="product__bottom">
            <h3 class="product__name">Перец оранжевый, 1кг</h3>
            <div class="product__price price">
              <span class="price__new">349 ₽</span>
            </div> <button class="product__cart">
              <svg>
                <use xlink:href="images/sprite.svg#cart-link"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="product-cards__item mix category-b">
        <article class="product">
          <div class="product__top">
            <div class="product__badges">
              <span class="product__badge product__badge--hit">Хит</span>
            </div>
            <button class="product__favorite">
              <svg>
                <use xlink:href="images/sprite.svg#favorite-link"></use>
              </svg>
            </button>
          </div>
          <div class="product__img" style="background-image: url('images/products/product-5.png');">
          </div>
          <div class="product__bottom">
            <h3 class="product__name">Морковь молодая с бабушкиной грядки, 1кг</h3>
            <div class="product__price price">
              <span class="price__new">49 ₽</span>
            </div> <button class="product__cart">
              <svg>
                <use xlink:href="images/sprite.svg#cart-link"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="product-cards__item mix category-c">
        <article class="product">
          <div class="product__top">
            <div class="product__badges">
              <span class="product__badge product__badge--sale">30%</span>
            </div>
            <button class="product__favorite">
              <svg>
                <use xlink:href="images/sprite.svg#favorite-link"></use>
              </svg>
            </button>
          </div>
          <div class="product__img" style="background-image: url('images/products/product-6.png');">
          </div>
          <div class="product__bottom">
            <h3 class="product__name">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
              безалкогольн...</h3>
            <div class="product__price price">
              <span class="price__old">299 ₽</span>
              <span class="price__new">199 ₽</span>
            </div> <button class="product__cart">
              <svg>
                <use xlink:href="images/sprite.svg#cart-link"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="product-cards__item mix category-c">
        <article class="product">
          <div class="product__top">
            <div class="product__badges">
              <span class="product__badge product__badge--new">Новинка</span>
            </div>
            <button class="product__favorite">
              <svg>
                <use xlink:href="images/sprite.svg#favorite-link"></use>
              </svg>
            </button>
          </div>
          <div class="product__img" style="background-image: url('images/products/product-7.png');">
          </div>
          <div class="product__bottom">
            <h3 class="product__name">Кофе с коноплей органический Caffé Salomoni 250г</h3>
            <div class="product__price price">
              <span class="price__new">877 ₽</span>
            </div> <button class="product__cart">
              <svg>
                <use xlink:href="images/sprite.svg#cart-link"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="product-cards__item mix category-d">
        <article class="product">
          <div class="product__top">
            <button class="product__favorite">
              <svg>
                <use xlink:href="images/sprite.svg#favorite-link"></use>
              </svg>
            </button>
          </div>
          <div class="product__img" style="background-image: url('images/products/product-8.png');">
          </div>
          <div class="product__bottom">
            <h3 class="product__name">Кетчуп томатный детский органический Bio-Zentrale 500мл</h3>
            <div class="product__price price">
              <span class="price__new">600 ₽</span>
            </div> <button class="product__cart">
              <svg>
                <use xlink:href="images/sprite.svg#cart-link"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
    </ul>

    <button class="top__add button button--transparent" type="button">Показать еще</button>
  </div>
</section>