<section class="products-grid" data-ref="container-1">
  <div class="container">
    <h2 class="products-grid__title section-title">Топовые товары</h2>
    <ul class="products-grid__filters filters">
      <li class="products-grid__filter filters__item" data-filter="all">
        <button type="button">Все товары</button>
      </li>
      <li class="products-grid__filter filters__item" data-filter=".fruits">
        <button type="button">Фрукты</button>
      </li>
      <li class="products-grid__filter filters__item" data-filter=".vagetables">
        <button type="button">Овощи</button>
      </li>
      <li class="products-grid__filter filters__item" data-filter=".drinks">
        <button type="button">Напитки</button>
      </li>
      <li class="products-grid__filter filters__item" data-filter=".grocery">
        <button type="button">Бакалея</button>
      </li>
    </ul>

    <ul class="products-grid__catalog" id="product-cards-grid-catalog">
      <li class="products-grid__item mix fruits">
        <article class="product-card">
          <div class="product-card__badges">
            <span class="product-card__badge product-card__badge--new">Новинка</span>
            <span class="product-card__badge product-card__badge--sale">-50%</span>
          </div>
          <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
            <svg>
              <use xlink:href="images/sprite.svg#favorite-link"></use>
            </svg>
          </button>
          <div class="product-card__img">
            <div class="product-card__img-overlay">
              <button class="product-card__search" type="button" aria-label="Посмотреть продукт">
                <svg>
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <img src="images/products/top/p-1.jpg" alt="Ананас">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name">
              <a href="#">Ананас,насАн ана сАнанасАна насАн анасАнанасА нан асАн анасАн анасАнанасА нанасАнан асАнан
                асАнан асАнанасА нанасАнанас АнанасАнанас Ананас 1кг</a>
            </h3>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--old">1999 ₽ </span>
              <span class="product-card__price product-card__price--new">199 ₽ </span>
            </div>

            <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix fruits">
        <article class="product-card">
          <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
            <svg>
              <use xlink:href="images/sprite.svg#favorite-link"></use>
            </svg>
          </button>

          <div class="product-card__img">
            <div class="product-card__img-overlay">
              <button class="product-card__search" type="button" aria-label="Посмотреть продукт">
                <svg>
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <img src="images/products/top/p-2.jpg" alt="Лимон">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Лимон, 1кг</a></h3>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--old">299 ₽ </span>
              <span class="product-card__price product-card__price--new">199 ₽ </span>
            </div>

            <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix vagetables">
        <article class="product-card">
          <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
            <svg>
              <use xlink:href="images/sprite.svg#favorite-link"></use>
            </svg>
          </button>

          <div class="product-card__img">
            <div class="product-card__img-overlay">
              <button class="product-card__search" type="button" aria-label="Посмотреть продукт">
                <svg>
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <img src="images/products/top/p-3.jpg" alt="Питайхайя">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Питахайя красная с белой мякотью, 1шт</a></h3>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">1019 ₽</span>
            </div>

            <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix vagetables">
        <article class="product-card">
          <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
            <svg>
              <use xlink:href="images/sprite.svg#favorite-link"></use>
            </svg>
          </button>

          <div class="product-card__img">
            <div class="product-card__img-overlay">
              <button class="product-card__search" type="button" aria-label="Посмотреть продукт">
                <svg>
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <img src="images/products/top/p-4.jpg" alt="Перец">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Перец оранжевый, 1кг</a></h3>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">349 ₽ </span>
            </div>

            <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix grocery">
        <article class="product-card">
          <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
            <svg>
              <use xlink:href="images/sprite.svg#favorite-link"></use>
            </svg>
          </button>

          <div class="product-card__img">
            <div class="product-card__img-overlay">
              <button class="product-card__search" type="button" aria-label="Посмотреть продукт">
                <svg>
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <img src="images/products/top/p-5.jpg" alt="Морковь">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Морковь молодая с бабушкиной грядки, 1кг</a></h3>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">49 ₽ </span>
            </div>

            <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix grocery">
        <article class="product-card">
          <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
            <svg>
              <use xlink:href="images/sprite.svg#favorite-link"></use>
            </svg>
          </button>

          <div class="product-card__img">
            <div class="product-card__img-overlay">
              <button class="product-card__search" type="button" aria-label="Посмотреть продукт">
                <svg>
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <img src="images/products/top/p-6.jpg" alt="Напиток сокосодержащий">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный
                апельсин безалкогольн...</a></h3>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--old">299 ₽ </span>
              <span class="product-card__price product-card__price--new">199 ₽ </span>
            </div>

            <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix drinks">
        <article class="product-card">
          <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
            <svg>
              <use xlink:href="images/sprite.svg#favorite-link"></use>
            </svg>
          </button>

          <div class="product-card__img">
            <div class="product-card__img-overlay">
              <button class="product-card__search" type="button" aria-label="Посмотреть продукт">
                <svg>
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <img src="images/products/top/p-7.jpg" alt="Кофе">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Кофе с коноплей органический Caffé Salomoni 250г</a></h3>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">877 ₽ </span>
            </div>

            <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
          </div>
        </article>
      </li>
      <li class="products-grid__item mix drinks">
        <article class="product-card">
          <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
            <svg>
              <use xlink:href="images/sprite.svg#favorite-link"></use>
            </svg>
          </button>

          <div class="product-card__img">
            <div class="product-card__img-overlay">
              <button class="product-card__search" type="button" aria-label="Посмотреть продукт">
                <svg>
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <img src="images/products/top/p-8.jpg" alt="Кетчуп">
          </div>
          <div class="product-card__info">
            <h3 class="product-card__name"><a href="#">Кетчуп томатный детский органический Bio-Zentrale 500мл</a></h3>
            <div class="product-card__prices">
              <span class="product-card__price product-card__price--new">600 ₽</span>
            </div>

            <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
          </div>
        </article>
      </li>
    </ul>

    <button class="product-grid__add button button--transparent" type="button">Показать еще</button>
  </div>
</section>