<section class="recommendations">
  <div class="container">
    <div class="recommendations__wrapper">
      <div class="recommendations__top">
        <h2 class="recommendations__title section-title">
          ВАС МОЖЕТ ЗАИНТЕРЕСОВАТь
        </h2>
        <div class="recommendations__arrows swiper-navigation">
          <button id="swiperPrev" class="recommendations__arrow recommendations__arrow--prev arrow-prev">
            <svg>
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </button>
          <button id="swiperNext" class="recommendations__arrow recommendations__arrow--next arrow-next">
            <svg>
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="recommendations__slider swiper">
        <ul class="recommendations__slides swiper-wrapper">
          <li class="recommendations__slide swiper-slide">
            <article class="product">
              <div class="product__top">
                <div class="product__badges">
                  <span class="product__badge product__badge--new">Новинка</span>
                  <span class="product__badge product__badge--sale">-50%</span>
                </div>
                <button class="product__favorite">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product__img" style="background-image: url('images/products/product-1.png');">
              </div>
              <div class="product__bottom">
                <h3 class="product__name">Ананас, 1кг</h3>
                <div class="product__price price">
                  <span class="price__old">1999 ₽ </span>
                  <span class="price__new">999 ₽ </span>
                </div>

                <button class="product__cart">
                  <svg>
                    <use xlink:href="images/sprite.svg#cart-link"></use>
                  </svg>
                </button>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product">
              <div class="product__top">
                <div class="product__badges">
                  <span class="product__badge product__badge--new">Новинка</span>
                  <span class="product__badge product__badge--sale">-50%</span>
                </div>
                <button class="product__favorite">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product__img" style="background-image: url('images/products/product-1.png');">
              </div>
              <div class="product__bottom">
                <h3 class="product__name">Ананас, 1кг</h3>
                <div class="product__price price">
                  <span class="price__old">1999 ₽ </span>
                  <span class="price__new">999 ₽ </span>
                </div>

                <button class="product__cart">
                  <svg>
                    <use xlink:href="images/sprite.svg#cart-link"></use>
                  </svg>
                </button>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product">
              <div class="product__top">
                <div class="product__badges">
                  <span class="product__badge product__badge--new">Новинка</span>
                  <span class="product__badge product__badge--sale">-50%</span>
                </div>
                <button class="product__favorite">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product__img" style="background-image: url('images/products/product-1.png');">
              </div>
              <div class="product__bottom">
                <h3 class="product__name">Ананас, 1кг</h3>
                <div class="product__price price">
                  <span class="price__old">1999 ₽ </span>
                  <span class="price__new">999 ₽ </span>
                </div>

                <button class="product__cart">
                  <svg>
                    <use xlink:href="images/sprite.svg#cart-link"></use>
                  </svg>
                </button>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product">
              <div class="product__top">
                <div class="product__badges">
                  <span class="product__badge product__badge--new">Новинка</span>
                  <span class="product__badge product__badge--sale">-50%</span>
                </div>
                <button class="product__favorite">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product__img" style="background-image: url('images/products/product-1.png');">
              </div>
              <div class="product__bottom">
                <h3 class="product__name">Ананас, 1кг</h3>
                <div class="product__price price">
                  <span class="price__old">1999 ₽ </span>
                  <span class="price__new">999 ₽ </span>
                </div>

                <button class="product__cart">
                  <svg>
                    <use xlink:href="images/sprite.svg#cart-link"></use>
                  </svg>
                </button>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product">
              <div class="product__top">
                <div class="product__badges">
                  <span class="product__badge product__badge--new">Новинка</span>
                  <span class="product__badge product__badge--sale">-50%</span>
                </div>
                <button class="product__favorite">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product__img" style="background-image: url('images/products/product-1.png');">
              </div>
              <div class="product__bottom">
                <h3 class="product__name">Ананас, 1кг</h3>
                <div class="product__price price">
                  <span class="price__old">1999 ₽ </span>
                  <span class="price__new">999 ₽ </span>
                </div>

                <button class="product__cart">
                  <svg>
                    <use xlink:href="images/sprite.svg#cart-link"></use>
                  </svg>
                </button>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product">
              <div class="product__top">
                <div class="product__badges">
                  <span class="product__badge product__badge--new">Новинка</span>
                  <span class="product__badge product__badge--sale">-50%</span>
                </div>
                <button class="product__favorite">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product__img" style="background-image: url('images/products/product-1.png');">
              </div>
              <div class="product__bottom">
                <h3 class="product__name">Ананас, 1кг</h3>
                <div class="product__price price">
                  <span class="price__old">1999 ₽ </span>
                  <span class="price__new">999 ₽ </span>
                </div>

                <button class="product__cart">
                  <svg>
                    <use xlink:href="images/sprite.svg#cart-link"></use>
                  </svg>
                </button>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product">
              <div class="product__top">
                <div class="product__badges">
                  <span class="product__badge product__badge--new">Новинка</span>
                  <span class="product__badge product__badge--sale">-50%</span>
                </div>
                <button class="product__favorite">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product__img" style="background-image: url('images/products/product-1.png');">
              </div>
              <div class="product__bottom">
                <h3 class="product__name">Ананас, 1кг</h3>
                <div class="product__price price">
                  <span class="price__old">1999 ₽ </span>
                  <span class="price__new">999 ₽ </span>
                </div>

                <button class="product__cart">
                  <svg>
                    <use xlink:href="images/sprite.svg#cart-link"></use>
                  </svg>
                </button>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product">
              <div class="product__top">
                <div class="product__badges">
                  <span class="product__badge product__badge--new">Новинка</span>
                  <span class="product__badge product__badge--sale">-50%</span>
                </div>
                <button class="product__favorite">
                  <svg>
                    <use xlink:href="images/sprite.svg#favorite-link"></use>
                  </svg>
                </button>
              </div>
              <div class="product__img" style="background-image: url('images/products/product-1.png');">
              </div>
              <div class="product__bottom">
                <h3 class="product__name">Ананас, 1кг</h3>
                <div class="product__price price">
                  <span class="price__old">1999 ₽ </span>
                  <span class="price__new">999 ₽ </span>
                </div>

                <button class="product__cart">
                  <svg>
                    <use xlink:href="images/sprite.svg#cart-link"></use>
                  </svg>
                </button>
              </div>
            </article>
          </li>
        </ul>

        <!-- <ul class="recommendations__slide swiper-slide">
            <li class="products-slider__item">
              <article class="product">
                <div class="product__top">
                  <div class="product__badges">
                    <span class="product__badge product__badge--new">Новинка</span>
                    <span class="product__badge product__badge--sale">-50%</span>
                  </div>
                  <button class="product__favorite">
                    <svg>
                      <use xlink:href="images/sprite.svg#favorite-link"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__img" style="background-image: url('images/products/product-1.png');">
                </div>
                <div class="product__bottom">
                  <h3 class="product__name">Ананас, 1кг</h3>
                  <div class="product__price price">
                    <span class="price__old">1999 ₽ </span>
                    <span class="price__new">999 ₽ </span>
                  </div>

                  <button class="product__cart">
                    <svg>
                      <use xlink:href="images/sprite.svg#cart-link"></use>
                    </svg>
                  </button>
                </div>
              </article>
            </li>
            <li class="products-slider__item">
              <article class="product">
                <div class="product__top">
                  <div class="product__badges">
                    <span class="product__badge product__badge--new">Новинка</span>
                    <span class="product__badge product__badge--sale">-50%</span>
                  </div>
                  <button class="product__favorite">
                    <svg>
                      <use xlink:href="images/sprite.svg#favorite-link"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__img" style="background-image: url('images/products/product-1.png');">
                </div>
                <div class="product__bottom">
                  <h3 class="product__name">Ананас, 1кг</h3>
                  <div class="product__price price">
                    <span class="price__old">1999 ₽ </span>
                    <span class="price__new">999 ₽ </span>
                  </div>

                  <button class="product__cart">
                    <svg>
                      <use xlink:href="images/sprite.svg#cart-link"></use>
                    </svg>
                  </button>
                </div>
              </article>
            </li>
            <li class="products-slider__item">
              <article class="product">
                <div class="product__top">
                  <div class="product__badges">
                    <span class="product__badge product__badge--new">Новинка</span>
                    <span class="product__badge product__badge--sale">-50%</span>
                  </div>
                  <button class="product__favorite">
                    <svg>
                      <use xlink:href="images/sprite.svg#favorite-link"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__img" style="background-image: url('images/products/product-1.png');">
                </div>
                <div class="product__bottom">
                  <h3 class="product__name">Ананас, 1кг</h3>
                  <div class="product__price price">
                    <span class="price__old">1999 ₽ </span>
                    <span class="price__new">999 ₽ </span>
                  </div>

                  <button class="product__cart">
                    <svg>
                      <use xlink:href="images/sprite.svg#cart-link"></use>
                    </svg>
                  </button>
                </div>
              </article>
            </li>
            <li class="products-slider__item">
              <article class="product">
                <div class="product__top">
                  <div class="product__badges">
                    <span class="product__badge product__badge--new">Новинка</span>
                    <span class="product__badge product__badge--sale">-50%</span>
                  </div>
                  <button class="product__favorite">
                    <svg>
                      <use xlink:href="images/sprite.svg#favorite-link"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__img" style="background-image: url('images/products/product-1.png');">
                </div>
                <div class="product__bottom">
                  <h3 class="product__name">Ананас, 1кг</h3>
                  <div class="product__price price">
                    <span class="price__old">1999 ₽ </span>
                    <span class="price__new">999 ₽ </span>
                  </div>

                  <button class="product__cart">
                    <svg>
                      <use xlink:href="images/sprite.svg#cart-link"></use>
                    </svg>
                  </button>
                </div>
              </article>
            </li>
          </ul> -->
        <!-- <ul class="recommendations__slide swiper-slide">
            <li class="products-slider__item">
              <article class="product">
                <div class="product__top">
                  <div class="product__badges">
                    <span class="product__badge product__badge--new">Новинка</span>
                    <span class="product__badge product__badge--sale">-50%</span>
                  </div>
                  <button class="product__favorite">
                    <svg>
                      <use xlink:href="images/sprite.svg#favorite-link"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__img" style="background-image: url('images/products/product-1.png');">
                </div>
                <div class="product__bottom">
                  <h3 class="product__name">Ананас, 1кг</h3>
                  <div class="product__price price">
                    <span class="price__old">1999 ₽ </span>
                    <span class="price__new">999 ₽ </span>
                  </div>

                  <button class="product__cart">
                    <svg>
                      <use xlink:href="images/sprite.svg#cart-link"></use>
                    </svg>
                  </button>
                </div>
              </article>
            </li>
            <li class="products-slider__item">
              <article class="product">
                <div class="product__top">
                  <div class="product__badges">
                    <span class="product__badge product__badge--new">Новинка</span>
                    <span class="product__badge product__badge--sale">-50%</span>
                  </div>
                  <button class="product__favorite">
                    <svg>
                      <use xlink:href="images/sprite.svg#favorite-link"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__img" style="background-image: url('images/products/product-1.png');">
                </div>
                <div class="product__bottom">
                  <h3 class="product__name">Ананас, 1кг</h3>
                  <div class="product__price price">
                    <span class="price__old">1999 ₽ </span>
                    <span class="price__new">999 ₽ </span>
                  </div>

                  <button class="product__cart">
                    <svg>
                      <use xlink:href="images/sprite.svg#cart-link"></use>
                    </svg>
                  </button>
                </div>
              </article>
            </li>
            <li class="products-slider__item">
              <article class="product">
                <div class="product__top">
                  <div class="product__badges">
                    <span class="product__badge product__badge--new">Новинка</span>
                    <span class="product__badge product__badge--sale">-50%</span>
                  </div>
                  <button class="product__favorite">
                    <svg>
                      <use xlink:href="images/sprite.svg#favorite-link"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__img" style="background-image: url('images/products/product-1.png');">
                </div>
                <div class="product__bottom">
                  <h3 class="product__name">Ананас, 1кг</h3>
                  <div class="product__price price">
                    <span class="price__old">1999 ₽ </span>
                    <span class="price__new">999 ₽ </span>
                  </div>

                  <button class="product__cart">
                    <svg>
                      <use xlink:href="images/sprite.svg#cart-link"></use>
                    </svg>
                  </button>
                </div>
              </article>
            </li>
            <li class="products-slider__item">
              <article class="product">
                <div class="product__top">
                  <div class="product__badges">
                    <span class="product__badge product__badge--new">Новинка</span>
                    <span class="product__badge product__badge--sale">-50%</span>
                  </div>
                  <button class="product__favorite">
                    <svg>
                      <use xlink:href="images/sprite.svg#favorite-link"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__img" style="background-image: url('images/products/product-1.png');">
                </div>
                <div class="product__bottom">
                  <h3 class="product__name">Ананас, 1кг</h3>
                  <div class="product__price price">
                    <span class="price__old">1999 ₽ </span>
                    <span class="price__new">999 ₽ </span>
                  </div>

                  <button class="product__cart">
                    <svg>
                      <use xlink:href="images/sprite.svg#cart-link"></use>
                    </svg>
                  </button>
                </div>
              </article>
            </li>
          </ul> -->

      </div>
    </div>
  </div>
</section>