<section class="recommendations">
  <div class="container">
    <div class="recommendations__wrapper">
      <div class="recommendations__top">
        <h2 class="recommendations__title section-title">
          вас может заинтересовать
        </h2>
        <div class="recommendations__arrows swiper-navigation">
          <button id="swiperPrev" class="recommendations__arrow recommendations__arrow--prev arrow-prev">
            <svg>
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </button>
          <button id="swiperNext" class="recommendations__arrow recommendations__arrow--next arrow-next">
            <svg>
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="recommendations__slider swiper">
        <ul class="recommendations__slides swiper-wrapper">
          <li class="recommendations__slide swiper-slide">
            <article class="product-card product-card--catalog">
              <div class="product-card__badges">
                <span class="product-card__badge product-card__badge--new">Новинка</span>
              </div>

              <div class="product-card__rating">4.5</div>

              <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
              <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                <svg>
                  <use xlink:href="images/sprite.svg#favorite-link"></use>
                </svg>
              </button>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__info">
                <span class="product-card__availability">В наличии</span>
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>

                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product-card product-card--catalog">
              <div class="product-card__badges">
                <span class="product-card__badge product-card__badge--new">Новинка</span>
              </div>

              <div class="product-card__rating">4.5</div>

              <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
              <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                <svg>
                  <use xlink:href="images/sprite.svg#favorite-link"></use>
                </svg>
              </button>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__info">
                <span class="product-card__availability">В наличии</span>
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>

                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product-card product-card--catalog">
              <div class="product-card__badges">
                <span class="product-card__badge product-card__badge--new">Новинка</span>
              </div>

              <div class="product-card__rating">4.5</div>

              <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
              <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                <svg>
                  <use xlink:href="images/sprite.svg#favorite-link"></use>
                </svg>
              </button>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__info">
                <span class="product-card__availability">В наличии</span>
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>

                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product-card product-card--catalog">
              <div class="product-card__badges">
                <span class="product-card__badge product-card__badge--new">Новинка</span>
              </div>

              <div class="product-card__rating">4.5</div>

              <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
              <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                <svg>
                  <use xlink:href="images/sprite.svg#favorite-link"></use>
                </svg>
              </button>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__info">
                <span class="product-card__availability">В наличии</span>
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>

                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product-card product-card--catalog">
              <div class="product-card__badges">
                <span class="product-card__badge product-card__badge--new">Новинка</span>
              </div>

              <div class="product-card__rating">4.5</div>

              <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
              <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                <svg>
                  <use xlink:href="images/sprite.svg#favorite-link"></use>
                </svg>
              </button>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__info">
                <span class="product-card__availability">В наличии</span>
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>

                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product-card product-card--catalog">
              <div class="product-card__badges">
                <span class="product-card__badge product-card__badge--new">Новинка</span>
              </div>

              <div class="product-card__rating">4.5</div>

              <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
              <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                <svg>
                  <use xlink:href="images/sprite.svg#favorite-link"></use>
                </svg>
              </button>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__info">
                <span class="product-card__availability">В наличии</span>
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>

                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product-card product-card--catalog">
              <div class="product-card__badges">
                <span class="product-card__badge product-card__badge--new">Новинка</span>
              </div>

              <div class="product-card__rating">4.5</div>

              <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
              <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                <svg>
                  <use xlink:href="images/sprite.svg#favorite-link"></use>
                </svg>
              </button>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__info">
                <span class="product-card__availability">В наличии</span>
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>

                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>
              </div>
            </article>
          </li>
          <li class="recommendations__slide swiper-slide">
            <article class="product-card product-card--catalog">
              <div class="product-card__badges">
                <span class="product-card__badge product-card__badge--new">Новинка</span>
              </div>

              <div class="product-card__rating">4.5</div>

              <button class="product-card__cart" type="button" aria-label="Добавть в карзину"></button>
              <button class="product-card__favorite" type="button" aria-label="Добавть в желания">
                <svg>
                  <use xlink:href="images/sprite.svg#favorite-link"></use>
                </svg>
              </button>
              <div class="product-card__img">
                <img src="images/products/product-1.png" alt="Ананас">
              </div>
              <div class="product-card__info">
                <span class="product-card__availability">В наличии</span>
                <h3 class="product-card__name"><a href="#">Ананас, 1кг</a></h3>

                <div class="product-card__prices">
                  <span class="product-card__price product-card__price--old">1999 ₽ </span>
                  <span class="product-card__price product-card__price--new">199 ₽ </span>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>